// set kraken API keys
exports.krakenkey = '[your kraken api key]';
exports.krakenpasscode = '[your kraken api passcode]';

// tolerance determines how much % near hi or low the lasttrade needs to be to begin acting
exports.buyTolerance = 30;
exports.sellTolerance = 30;

// how much above or below last price should the price be
exports.priceMod = 0.0001;

// move limit determines at what point an asset becomes an interesting trade
exports.moveLimit = 5;

// caution prevents too big transactions at once
exports.caution = 0.1;

// determine the minimum amount to trade (this prevents API errors)
exports.minTrade = 0.01;
exports.minTradeAmount = 0.01;

// max time an order may exist before cleanup
exports.maxAgeSeconds = 60*60*24;

// how long (seconds) should timed orders remain
exports.timer = 3600;
