// determines at what point an asset becomes an interesting trade
exports.percentageDrop = 15;

// stopLossMode will start putting stop loss orders beneath all current prices 
// those orders will be refreshed if prices go up further
// it will also not buy anything in this mode
// to be used when market is percieved as topping out, until market has corrected
exports.stopLossMode = true;
exports.stopLossPercentage = 3;

// how much to buy each trade (in eur)
exports.fixedBuyAmount = 30;

// maximum % each asset can take up of total balance before we stop buying
exports.maxSharePerAssetPercent = 2.5;

// minimum trade volume we want to see before considering to buy (in eur)
exports.minTradeVolume = 10000;