// set kraken API keys
exports.krakenkey = '[your kraken api key]';
exports.krakenpasscode = '[your kraken api passcode]';

// tolerance determines how much % near hi or low the lasttrade needs to be to begin acting
exports.buyTolerance = 45;
exports.sellTolerance = 20;
exports.moveLimit = 5;
exports.caution = 0.1;
exports.addonratio = 0.1;
exports.addontrade = 0.001;

// determine the minimum asset amount to trade (this prevents API errors)
exports.minTrade = 0.01;
exports.minTradeAmount = 0.50;
